* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.add-new-book {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.add-new-book:hover {
    background-color: #2980b9;
}

.add-new-book:active {
    background-color: #407FC7;
}

.hidden {
    display: none;
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 10px;
    width: 40%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.book-form input[type="text"], .book-form input[type="number"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.book-form label {
    margin: 15px 0;
}

.book-form label[for="read"], .book-form input[type="checkbox"]{
    width: auto;
    display: flex;
    flex-direction: row;
}

.book-form input[type="submit"] {
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #3498db;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
    width: max-content;
}

.book-form [type="submit"]:hover {
    background-color: #2980b9;
}

.book-form [type="submit"]:active {
    background-color: #407FC7;
}

.read {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    grid-auto-rows: min-content;
}

.book-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    max-height: 300px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    height: 100%;
}

.delete-btn, .close-form {
    align-self: flex-end;
    background-color: #ccc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    padding: 0;
}

.delete-btn:hover {
    background-color: #333;
}

.delete-btn:active {
    background-color: #eee;
}

.book-title, .book-author, .book-pages {
    overflow-wrap: break-word;
}

.book-title {
    font-size: 30px;
    font-weight: bold;
    font-family: Roboto, 'sans-serif';
}

.book-author {
    font-style: italic;
    color: #444;
}

.book-pages {
    color: #666;
    font-size: 18px;
}

.book-read {
    color: royalblue;
}

.read-toggle-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #2196F3;
    color: white;
}

.read-toggle-btn:hover {
    background-color: #2980b9;
}

.read-toggle-btn:active {
    background-color: #407FC7;
}